*.o
*.lo
*.la
.deps/
.dirstamp
.libs/
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.in
config.log
config.status
configure
config.sub
depcomp
install-sh
libltdl/
libtool
ltmain.sh
m4/
missing
stamp-h1
